<div class="card"  data-postid="{{id}}">
  <div class="card-header">
    <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
    <p>Posted by {{ User.username }} on {{format_date date_created}}</p>
  </div>
  <p class="card-body">{{content}}</p>

 

  <h6>Comments:</h6>
{{#each Comments}}
<div>
  
  {{comment_text}}
</div>
{{/each}}
</div>

<form id="new-comment" data-postid="{{id}}" method="POST">

  <div class="form-group">
    <label for="comment">Add a comment:</label>
    <textarea class="form-control" id="comment" name="comment"></textarea>
  </div>

  <button  type="submit" class="btn btn-primary " data-id="{{id}}">Submit</button>
  
</form>