<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>

{{#if posts.length}}
<section >
  <h2>Your Posts</h2>
  {{#each posts}}
    <div class="card my-3 post-list">
      <div class="card-body">
        <h3 class="card-title">{{ title }}</h3>
        <p class="card-text">{{ content }}</p>
        <p class="card-text"><small class="text-muted">{{ date_created }}</small></p>
        <button><a href="/post/{{ id }}" class="btn btn-primary">Update/Delete</a></button>
        
       <form id="new-comment" data-postid="{{id}}" method="POST">

  <div class="form-group">
    <label for="comment">Add a comment:</label>
    <textarea class="form-control" id="comment" name="comment"></textarea>
  </div>

  <button  type="submit" class="btn btn-primary " data-id="{{id}}">Submit</button>
  
</form>
</div>
        
      </div>
    </div>
  {{/each}}
</section>
{{else}}
<section>
  <h2>You haven't created any posts yet</h2>
</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/newpost">+ New Post</a></button>

<script src="./js/newComment.js"></script>
<script src="/js/post.js"></script>